<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">think<span class="text-success">Budget</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" *ngIf="!auth.loggedIn()">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item dropdown" *ngIf="auth.loggedIn()">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/accountSettings">Account Settings</a></li>
            <li><a class="dropdown-item" routerLink="/budgetSettings">Budget Settings</a></li>
            <li><a class="dropdown-item" routerLink="/transactionManagement">Transactions</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item btn" (click)="user.logoutUser()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>  
