<div class="container my-3">
  <form [formGroup]="transForm" (ngSubmit)="addTransaction()">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label>Account Name</label>
          <select class="form-select" formControlName="bankAccountName">
            <option *ngFor="let parser of parsers; let i = index" [value]='i'>{{parser.bankAccountName}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label>Amount</label>
          <input type="number" class="form-control" formControlName="transAmount">
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label>Date</label>
          <input type="date" class="form-control" formControlName="transDate">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label>Payee</label>
          <input type="text" class="form-control" formControlName="transPayee">
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label>Category</label>
          <select class="form-select" formControlName="transCategory">
            <option value="Uncategorized">Uncategorized</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label>Note</label>
          <input type="text" class="form-control" formControlName="transNote">
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-success col mx-3 mt-3" type="submit" [disabled]="!transForm.valid">Add transaction</button>
    </div>
  </form>
</div>
